@require colors

footer
  border-top: 4px solid color_e
  background-color: #111
  padding: 2em 0
  text-align: right
  font-size: 15px
  a
    color: #eee
    &:hover
      color: #eee
      text-decoration: none
