@require colors

#header
  border-bottom: 4px solid color_d
  background-color: #111
  a
    text-decoration: none
    color: color_d
  h1, .social
    font-size: 60px
  .social
    margin-top: 20px
    > a
      margin-right: 10px
  p
    color: #fff
    font-size: 24px
