@require colors

#header
  background-color: #eee
  padding-top: 2em
  padding-bottom: 1em
  text-align: center
  border-bottom: 4px solid color_d
  a
    text-decoration: none
    color: color_b
  > h1
    margin-bottom: 24px
    font-size: 50px
  .social
    font-size: 70px
    > a
      margin-right: 10px
      &:hover
        color: color_d
