#posts_wrapper
  background-color: color_b
  h2
    color: color_d
#posts
  padding-top: 2em
  a
    text-decoration: none
    color: color_d
  > ul
    > li
      margin-bottom: 3em
      color: #eee
      > a > h3
          font-size: 28px
          border-bottom: 1px solid #eee
          padding-bottom: 0.3em
          margin-bottom: 0.7em
      > p
        font-size: 18px
        padding-bottom: 0.2em
      > img
        display: block
        max-height: 400px
      > .date
        line-height: 36px
