<ol class='breadcrumb'>
  <li><a href='/admin'>Admin</a></li>
  <li class='active'>Posts</li>
</ol>

<h2>Posts</h2>

<form ng-submit='create(newPost)'>
  <div class="input-group">
    <input type="text" class="form-control" ng-model='newPost.url'>
    <span class="input-group-btn">
      <input class="btn btn-default" type="submit" value='Add Post' />
    </span>
  </div>
</form>

<br>

<table class='table table-striped'>
  <tr ng-repeat='post in posts'>
    <td><a href='/admin/posts/{{post._id}}'>{{post.title}}</a></td>
  </tr>
</table>
