<ul class='list-unstyled'>
  <li ng-repeat='post in posts'>
    <p class='pull-right date'>{{post.published | date:'mediumDate'}}</p>
    <a ng-href='{{post.url}}'>
      <h3 class='title'>{{post.title}}</h3>
    </a>
    <p class='pull-right' ng-repeat='entity in post.entities.slice(0,2)'>
      <span class='label label-info'>
        {{entity.name}}
      </span>
    </p>
    <p class='description'>
      {{post.description}}
    </p>
    <p>
      <a ng-href='{{post.url}}'>Read more on {{post.provider.name}}...</a>
    </p>
    <img class='img-responsive img-thumbnail' ng-src='{{post.images[0].url}}' height='{{post.images[0].height}}' width='{{post.images[0].width}}' />
  </li>
</ul>
