#header {
  background-color: #eee;
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 4px solid #f37502;
}
#header a {
  text-decoration: none;
  color: #000026;
}
#header > h1 {
  margin-bottom: 24px;
  font-size: 50px;
}
#header .social {
  font-size: 70px;
}
#header .social > a {
  margin-right: 10px;
}
#header .social > a:hover {
  color: #f37502;
}
#posts_wrapper {
  background-color: #000026;
}
#posts_wrapper h2 {
  color: #f37502;
}
#posts {
  padding-top: 2em;
}
#posts a {
  text-decoration: none;
  color: #f37502;
}
#posts > ul > li {
  margin-bottom: 3em;
  color: #eee;
}
#posts > ul > li > a > h3 {
  font-size: 28px;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
}
#posts > ul > li > p {
  font-size: 18px;
  padding-bottom: 0.2em;
}
#posts > ul > li > img {
  display: block;
  max-height: 400px;
}
#posts > ul > li > .date {
  line-height: 36px;
}
footer {
  border-top: 4px solid #be4a01;
  background-color: #111;
  padding: 2em 0;
  text-align: right;
  font-size: 15px;
}
footer a {
  color: #eee;
}
footer a:hover {
  color: #eee;
  text-decoration: none;
}
#github > li {
  font-size: 20px;
  margin-top: 0.5em;
}
[ng-cloak] {
  display: none;
}
