<div id='header'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-9'>
        <h1><a href='/' title='Jeff Dickey'>Jeff Dickey</a></h1>
        <p>Software Engineer</p>
      </div>
      <div class='col-lg-3'>
        <div class='social'>
          <a href='https://twitter.com/dickeyxxx' title='@dickeyxxx' class='twitter'><i class='fa fa-twitter'></i></a>
          <a href='https://github.com/dickeyxxx' title='@dickeyxxx' class='github'><i class='fa fa-github'></i></a>
          <a href='https://linkedin.com/in/dickeyxxx' title='@dickeyxxx' class='linkedin'><i class='fa fa-linkedin'></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
