<div id='header'>
  <h1><a href='/' title='Jeff Dickey'>dickeyxxx</a></h1>
  <div class='social'>
    <a href='https://twitter.com/dickeyxxx' title='@dickeyxxx' class='twitter'><i class='fa fa-twitter'></i></a>
    <a href='https://github.com/dickeyxxx' title='@dickeyxxx' class='github'><i class='fa fa-github'></i></a>
    <a href='https://linkedin.com/in/dickeyxxx' title='@dickeyxxx' class='linkedin'><i class='fa fa-linkedin'></i></a>
  </div>
</div>
