<%- include partials/start.html.ejs %>
  <div id='posts_wrapper'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-12'>
          <div id='posts' ng-controller='PostsCtrl' ng-cloak ng-include="'posts.html'"></div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div id='github' ng-controller='GithubCtrl' ng-cloak ng-include="'github.html'"></div>
        </div>
      </div>
    </div>
  </div>
<%- include partials/end.html.ejs %>
